@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  font-family: "Roboto";
}
.main-header {
  background-color: #1f2937;
  padding: 0 5rem 100px;
  justify-content: center;
}
body {
  margin: 0;
}
ul {
  list-style: none;
}
.header {
  display: flex;
  align-items: center;

  margin-bottom: 80px;
}
.logo {
  color: #f9faf8;
  font-size: 24px;
  margin-right: auto;
}
.header-link {
  font-size: 18px;
  color: #e5e7eb;
  display: flex;
  gap: 15px;
}
.main-text-box {
  margin-right: auto;
}
.main-text {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 900;
}
.header-text {
  display: flex;
}
.subtext {
  font-size: 18px;
  color: #e5e7eb;
}
.image-main {
  margin-left: 10%;
  align-items: flex-end;
}
.signup {
  color: #fff;
  background-color: #3882f6;
  border-style: none;
  border-radius: 5px;
  font-size: 18px;
  text-align: center;
  width: 150px;
  height: 40px;
}
.image-gallery,
img {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
}
.body-one {
  padding: 50px 50px;
  margin-bottom: 50px;
}
.image-gallery img {
  border: solid 2px #3882f6;
}
.title {
  text-align: center;
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
}
.body-two {
  background-color: #efe7eb;
  padding: 50px 50px;
}
.quote {
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
  display: flex;
  flex-direction: column;
  text-align: justify;
  margin: 50px 80px;
  font-weight: light;
}
.author {
  text-align: right;
  color: #1f2937;
  font-size: 26px;
  font-weight: 500;
  margin-right: 70px;
}
.body-three {
  margin: 50px 50px;
}
.banner {
  background-color: #3882f6;
  color: #f9faf8;
  border-radius: 8px;
  font-size: 18px;
  padding: 50px 80px;
  margin: 50px 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.title2 {
  font-weight: bold;
}
.subtitle {
  font-weight: lighter;
}
.text-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.signup2 {
  border: #f9faf8 solid 1px;
  background-color: #3882f6;
  border-radius: 5px;
  color: #efe7eb;
  font-size: 18px;
  font-weight: bold;
  padding: 0 30px;
}
.footer{
  background-color: #1f2937;
  color: #f9faf8;
  font-size: 18px;
  font-weight: lighter;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 50px;
}
