@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  font-family: "Roboto";
}
.main-header {
  background-color: #1f2937;
  padding: 0 5rem 100px;
  justify-content: center;
}
ul{
  list-style: none;
}
.header {
  display: flex;
  align-items: center;
  margin-bottom: 80px;
}
.logo {
  color: #f9faf8;
  font-size: 24px;
  margin-right: auto;
}
.header-link {
  font-size: 18px;
  color: #e5e7eb;
  display: flex;
  gap: 15px;
}
.main-text-box {
  margin-right: auto;
}
.main-text {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 900;
}
.header-text {
  display: flex;
}
.subtext {
  font-size: 18px;
  color: #e5e7eb;
}
.image-main {
  margin-left: 10%;
  align-items: flex-end;
}
.signup {
  color: #fff;
  background-color: #3882f6;
  border-style: none;
  border-radius: 5px;
  font-size: 18px;
  text-align: center;
  width: 150px;
  height: 40px;
}
.image-gallery, img{
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;

}
.body-one{
  border: #1F2937 solid;
  margin-bottom: 80px;
}
.image-gallery img{
  border: solid 2px #3882f6 ;
  
}
.title{
  text-align: center;
  font-size: 36px;
  color: #1F2937;
  font-weight: 900;
}
